.question {
    margin-bottom: 50px;
}

.answer {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff4dc;
}

.correct-answer {
    background-color: #d8ffd8;
}

.answer-mark {
    display: flex;
    align-items: center;
}

.answer-mark input {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}


