{% extends "inc/base.html" %}

{% block content %}
    {% load bootstrap5 %}

    <div class="log-in">
        <h1 class="mb-3">Log In</h1>
        <form action="{% url 'login' %}" method='POST' enctype='multipart/form-data' novalidate>
            {% csrf_token %}

            {% bootstrap_form form %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <button type="submit" class="btn btn-success">Log In</button>
        </form>
        <a href="{% url 'signup' %}">Create a new account</a>
    </div>

{% endblock %}
