{% extends "inc/base.html" %}

{% load static %}
{% load mine %}

{% block styles_links %}
    <link rel="stylesheet" href="{% static "css/question.css" %}">
{% endblock %}


{% block content %}

    <div class="question">
        <div class="row">
            <div class="col-3">
                <img class="question-avatar" src="{{ question.user.avatar.url }}" alt="avatar"
                     width="120px"
                     height="120px">
                {% with object=question object_type="question" %}
                    {% include "inc/evals.html" %}
                {% endwith %}
            </div>
            <div class="col-9">
                <h2 class="question-title">{{ question.title }}</h2>
                <p class="question-text">{{ question.body }}
                </p>
                <div class="question-tags">Tags:
                    <div class="question-tags-list">
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag_name=tag.name %}" class="question-tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12" style="text-align: right">
                {{ question.date }}
            </div>
        </div>
    </div>

    {% for answer in paginator|get_page_obj:request %}
        {% include "inc/answer.html" %}
    {% endfor %}

    {% include "inc/paginator.html" %}

    {% load bootstrap5 %}
    <form action="{{ request_path }}" method="POST" novalidate id="answer_form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ request.path }}">

        <button class="btn btn-success" type="submit">Answer</button>
    </form>

{% endblock %}
