{% extends "inc/base.html" %}

{% block content %}

    <div class="user-settings">
        <h1>Account settings</h1>
        <form action="#" method="POST" class="question-creation">
            <div class="warnings mb-2">
                Invalid <span>email</span>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" value="dr_pepper" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control invalid-input" id="email" value="dr.pepper@mail.ru" required>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" value="Dr.Pepper">
            </div>

            <div class="mb-5">
                <label for="avatar" class="form-label">Upload Avatar</label>
                <img class="d-block mb-3" src="../static/img/user1.jpg" alt="avatar" width="120px"
                     height="120px">
                <input type="file" class="form-control" id="avatar">
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>

{% endblock %}
