{% extends "inc/base.html" %}
{% load bootstrap5 %}

{% block content %}

    <div class="user-settings">
        <h1>Account settings</h1>
        <form action="{% url 'settings' %}" method="POST"
              enctype="multipart/form-data" class="question-creation" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <img src="{{ request.user.avatar.url }}" alt="avatar"
                                     class="header-user-avatar mb-4" width="100px"
                                     height="100px">
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>

{% endblock %}
