{% load static %}

<div class="answer {% if answer.is_right %} correct-answer {% endif %}" id="answer-{{ answer.id }}">
    <div class="row">
        <div class="col-3">
            <img class="question-avatar" src="{{ answer.user.avatar.url }}" alt="avatar"
                 width="80px"
                 height="80px">
            {% with object=answer object_type="answer" %}
                {% include "inc/evals.html" %}
            {% endwith %}
        </div>
        <div class="col-9">
            <p class="answer-text">
                {{ answer.body }}
            </p>
            <div class="answer-mark">
                <input class="answer-mark-input" type="checkbox" data-id="{{ answer.id }}"
                        {% if answer.is_right %} checked {% endif %}
                        {% if request.user != question.user %} disabled {% endif %}>
                Correct!
            </div>
        </div>
        <div class="col-12" style="text-align: right">
            {{ answer.date }}
        </div>
    </div>
</div>

