{% load static %}

<div class="question-card">
    <div class="row">
        <div class="col-2">
            <img class="question-avatar" src="{{ question.user.avatar.url }}" alt="avatar"
                 width="80px"
                 height="80px">
            {% with object=question object_type="question" %}
                {% include "inc/evals.html" %}
            {% endwith %}
        </div>
        <div class="col-10">
            <h2 class="question-title"><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a>
            </h2>
            <p class="question-text">{{ question.body }}
            </p>
            <div class="row">
                <div class="col-2">
                    <a href="{% url 'question' question_id=question.id %}"
                       class="question-answers">answer({{ question.answers.count }})</a>
                </div>
                <div class="col-6">
                    <div class="question-tags">Tags:
                        <div class="question-tags-list">

                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag_name=tag.name %}" class="question-tag">{{ tag.name }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    {{ question.date }}
                </div>
            </div>
        </div>
    </div>
</div>
